
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,800;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ebebeb;
    text-align: center;
    
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;*/
}
   
header{
    color: #dd5555;
    line-height: 200%;
    background-color: #fff;
    padding: 2%;
    margin: 2% 25%;
    text-align: center;

    /*display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;*/
}

section.bio {
    color: #7d7d7d;
}

h1{
    font-size: 40px;
    font-weight: 800;
}
h3{
   font-weight: 600;
   font-size: 26px;
}
h2.bio{
    font-size:32px;
    font-weight: 600;
}
p.bio {
    color: #7d7d7d;
    font-size: 25px;
    text-align: justify;
}

section.social {
    color: #cccccc;
    background-color: #fff;
    padding: 2%;
    margin: 2%;
    margin-left: 25%;
    margin-right: 25%;
    list-style-type: none;
    font-size: 22px;
}

section.movies {
    color: #7d7d7d;
    background-color: #fff;
    padding: 2%;
    margin: 2%;
    margin-left: 25%;
    margin-right: 25%;
}

.button {
    background-color: #dd5555;
    color: #fff;
    border-radius: 8px;
    padding: 12px 28px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    transition-duration: 0.5s;
    margin-top: 100px;
}

a.button:hover{
    background-color: #7d7d7d;
}

  img.pic {
    border-radius: 50%;
    border: 5px solid #cccccc;
  }

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a p {
    font-size: 2rem;
}
a.fb, a.li, a.tt {
    color: #cccccc;
    text-decoration: none;
}
a.fb:hover, a.li:hover, a.tt:hover {
    font-size: 200%;
}
/*---------------------------------------------------------*/
.movies{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
}

.movies h2{
    margin-bottom: 5%;
    font-size: 30px;
    font-weight: 600;
}

.movies p {
text-align: justify;
font-size: 25px;
margin: 5%;
}
article{
    display: flex;
    flex-direction: row;
    margin: 6%;

}
article img{
    width: 160px;
}
